a{
    color: unset;
    text-decoration: unset;
    transition: 0.1s;

    &:hover{
        opacity: 0.7;
        transform: scale(1.1);
    }
}

ul{
    list-style: none;
    padding-left: 0;
    margin: 5px 0;
}


body{
    font-family: 'Cabin';
    font-weight: 600;
    color: #383737;
}