.nav{
    float: left;
    margin-left: 50px;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    &__item{
        margin-left: 40px;

        &:first-child{
            margin-left: 0;
        }

        &--small-space{
            margin: 0 10px;
        }

        &--mini-space{
            margin: 0 5px;
        }

        &--upper{
            text-transform: uppercase;
        }

        &--left-big-space{
            margin-left: 60px;
        }
    }

    &--normal{
        margin-left: 0;
        height: auto;
        margin-top: 40px;

        .nav__item{
            color: #65abd0;
        }
    }

    &--center{
        margin-left: 0;
        width: 100%;
        float: none;
    }

    &--clear-left-space{
        margin-left: 0px;
    }

    &--clear-height{
        height: auto;
    }
}